{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">

</head>
<body>
<h1>Basket</h1>
<div class="large-6">
    <h2> form index </h2>
    <form action="box" method="post">{% csrf_token  %}
            {% for nm in  information  %}
                <li>
                    <input type="checkbox" name="checkbox" value="{{ forloop.counter}}" />{{ nm}} <br/>
                </li>
            {% endfor %}
        <button type="submit" class="btn btn-primary" value="box"> box </button>
    </form>
</div>
<div id="content">
    {% block content %} {% endblock %}
</div>


</body>
</html>